# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP.NET Core service.

version: '3.5'

services:
  ## application ##
  #picpaylite:
  #  image: picpaylite
  #  build:
  #    context: .
  #    dockerfile: ./Dockerfile
  #  ports:
  #    - 5048:5048
  #  networks:
  #  - appnetwork

  ## db ##
  db:
    image: postgres:12-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: picpaylite_db
    ports:
      - 5432:5432
    networks:
        - appnetwork
  

networks:
  appnetwork:
    name: custom_network
    external: true

